// 브레이크 포인트 관련 변수
$mobile: 320px;
$mobile-md: 375px;
$mobile-lg: 414px;
$fold: 512px;
$tablet: 768px;
$desktop: 1024px;
// $desktop: 1140px;
$desktop-lg: 1291px;
$desktop-xl: 1600px;
$desktop-over: 2500px;

// mixin
// 반응형

@mixin mobile{ @media (min-width:$mobile){ @content;}}

@mixin mobile-md { @media (min-width: $mobile-md) { @content; } }

@mixin mobile-lg { @media (min-width: $mobile-lg) { @content; } }

@mixin fold { @media (min-width: $fold) { @content; } }

@mixin tablet { @media (min-width: $tablet) { @content; } }

@mixin laptop { @media (min-width: $desktop) { @content; } }

@mixin desktop { @media (min-width: $desktop) { @content; } }

@mixin desktop-lg { @media (min-width: $desktop-lg) { @content; } }

@mixin desktop-xl { @media (min-width: $desktop-xl) { @content; } }