:global(.date-picker) {
  .date-picker {
    .react-calendar {
      width: 100%;
      border: none;
      font-family: 'Sandoll GothicNeo1 TTF', sans-serif;
      font-size: 12px;
      padding: 28px;

      @media (min-width: 1024px) {
        font-size: 16px;
      }

      &__navigation {
        display: flex;
        height: 24px;
        margin-bottom: 16px;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;

        &__next-button {
          font-size: 0px !important;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            display: block !important;
            width: 12px;
            height: 12px;
            background: url('/icons/arrow_down.svg') no-repeat center center !important;
            rotate: -90deg !important;
          }
        }

        &__prev-button {
          font-size: 0px !important;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            display: block !important;
            width: 12px;
            height: 12px;
            background: url('/icons/arrow_down.svg') no-repeat center center !important;
            rotate: 90deg !important;
          }
        }

        &__next2-button {
          display: none;
        }

        &__prev2-button {
          display: none;
        }

        button {

          background: none;
          font-size: 16px;
          font-weight: 600;
          color: #4A5660;
          border: none;
          cursor: pointer;
          position: relative;
          padding: 0;
          min-width: auto;

          &:enabled:hover,
          &:enabled:focus {
            background-color: #f0f0f0;
            border-radius: 4px;
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }

      &__month-view__weekdays {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: #000;
        opacity: 0.3;
        margin-bottom: 8px;
        height: 24px;

        abbr {
          text-decoration: none !important;
        }

        @media (min-width: 1024px) {
          font-size: 14px;
        }

        &__weekday {
          padding: 8px 0;
        }
      }

      &__tile {
        max-width: 100%;
        padding: 8px 4px;
        background: none;
        text-align: center;
        line-height: 16px;
        font-size: 14px;
        color: #000;
        border: none;
        cursor: pointer;
        border-radius: 4px;

        @media (min-width: 1024px) {
          font-size: 14px;
          padding: 12px 6px;
          line-height: 20px;
        }

        &:enabled:hover,
        &:enabled:focus {
          background-color: #f0f0f0;
        }

        &--now {

          color: #fff;

          position: relative;
          // z-index: 9999;
          abbr {
            position: relative;
            z-index: 9999;
          }

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            height: 32px;
            background-color: var(--samplip-red-500);
            border-radius: 9999px;
          }
        }

        &--active {
          background-color: #500C08;
          color: #fff;
          font-weight: 600;

          &:enabled:hover,
          &:enabled:focus {
            background-color: #500C08;
          }
        }

        &--hasActive {
          background-color: #f0f0f0;
        }

        &--disabled {
          background-color: #f0f0f0;
          color: #b0b0b0;
          cursor: not-allowed;
        }
      }

      &__month-view__days__day--neighboringMonth {
        color: #b0b0b0;
      }
    }
  }
}